/**
 * @author MrJane
 * @date 2018/6/18
 * @Description:
*/
.color-box {
    padding: 20px 0;
    height: 160px;
    text-align: center;
    display: block;
    opacity: .9;
    transition: all 0.3s
}

.color-box:hover {
    opacity: 1;
    text-decoration: none;
    color: #333;
    transform: scale(1.08);
    transition: all .3s;
}
.color-box .desc .fa {
    margin-right: 5px;
}
p {
    margin: 0 0 10px;
}

.color-box .count {
    font-size: 50px;
    height: 80px;
    line-height: 80px;
}

.color-box .desc {
    font-size: 18px;
}